{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Reset - GEOSAMS</title>
  <script src="https://kit.fontawesome.com/74a104b829.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
</head>

<body>
  	<div class="container py-5">
  	<h2 class="font-weight-bold mt-3">Password reset link sent</h2>
		<div class="custom-hr-left my-4"></div>
		<p>We've sent you instructions for setting your password if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive a message, please make sure you've entered the email address you registered with.</p>
  </div>
</body>

</html>
