{% extends 'base.html' %}

{% block content %}
      <!-- Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12 mb-4">
                  <div class="card p-4">
                      <h4>Send Bundle Page</h4>
                  </div>
              </div>
              <div class="col-lg-4">
                  <lottie-player src="https://lottie.host/78a39612-4d43-4853-8402-c300ca2d34ad/DP8VmlOG8m.json" background="transparent" speed="1" style="width: 300px; height: 300px" autoplay direction="1" mode="normal"></lottie-player>
              </div>
              <div class="col-lg-8">
                  <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Send Ishare Bundles Instantly</h5>
              <div class="card">
                <div class="card-body">
                  <form id="sendBundleForm" method="post">
                      {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Phone Number / Receiver</label>
                      <input name="receiver" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Bundle Volume (in MB)</label>
                      <input name="volume" type="number" class="form-control" id="exampleInputPassword1" placeholder="5000">
                    </div>
                    <button type="button" id="sendButton" class="btn btn-primary send-btn">Send</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
              </div>
          </div>
        </div>
      </div>
{% endblock content %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#sendButton").click(function() {
        var form = $("#sendBundleForm");
        var sendButton = $(this);
        sendButton.prop("disabled", true);
        sendButton.text("Sending...");

        // Submit the form after disabling the button
        form.submit()
      });
    });
  </script>
{% endblock scripts %}
